<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>

<span class="image"> <img src="../src/images/pic.png" alt="Этот текст будет виден, если картинка не загрузится"></span>
<span id="content">
    <div id="object01" class="title"> <p>About me</p></div>
<div class="text-box">I’m John Watson Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do<br> eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,<br>
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
</div>
</span>

</body>
</html>