body {
    margin: 30px auto;
    width: 1400px;
    height: 400px;
    background-color: #ffffff;
    font-family: sans-serif;
    color: #424243;
}

.image {
    display: inline-block;
    margin: 30px;
    width:  426px;
    height: 350px;
    background-color: #dbdcdd;
}

#object01,
.text-box {
    margin: 30px;
    width: 743px;
}

#object01 {
    height: 44px;
    background-color: #e7c734;
}

.title {
    display: table;
    font-size: 23px;
    letter-spacing: 1px;
}

#content {
    position: absolute;
}

.text-box {
    display: block;
    text-align: justify;
    height: 220px;
    font-size: 18px;
    letter-spacing: 0.6px;
    line-height: 31px;
}

p {
    padding: 0px 0px 0px 30px;
    margin: 10px auto;
}